    <p>Къде да обядваме?</p>
    <form action='cast' method='post'>
      <ul class='unstyled'>
        <% for (let [place_id, place_name] of Object.entries(CHOICES)) { %>
          <li>
            <label class='radio'>
              <input type='radio' name='vote' value='<%= place_id %>' id='vote_<%= place_id %>' />
              <%= place_name %>
            </label>
          </li>
        <% } %>
      </ul>
      <button type='submit' class='btn btn-primary'>Гласувай!</button>
    </form>
